<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

.my_logo {
  color: #fbf8f2;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2rem;
  height: 100px;
}

.my_nav {
  background-color: #3b4d5e;
  color: #fbf8f2;
  height: 100vh;
}

.my_main {
  background-color: #fbf8f2;
  height: 100vh;
  overflow-y: auto;
}

.my_font {
  color: #3b4d5e;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.my_font_bolder {
  color: #3b4d5e;
  font-style: normal;
  font-weight: bolder;
  font-size: 1rem;
}
.my_font_2em {
  font-size: 1rem;
}

.my_button {
  color: #3b4d5e;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  width: 10vw;
  background-color: #ffe0ab;
  border-color: #3b4d5e;
}

.my_button:hover {
  color: #3b4d5e;
  background-color: #fabc75;
  border-color: #3b4d5e;
}

=======
#Quest {
  /* background-color: #3B4D5E;
    width: 150px; 
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px; */
  background-color: #3b4d5e;
  color: #fbf8f2;
  height: 100%;
  position: absolute;
  width: 16.66%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
<<<<<<< HEAD
#Test {
  /* color: #3b4d5e;
  padding-left: 200px;
  padding-top: 50px; */
  background-color: #fbf8f2;
  color: #3b4d5e;
  height: 100%;
  margin-left: 16.66%;
  position: fixed;
  width: 83.34%;
  padding: 2vw 6vw;
=======
#Quest1{
    color:#3B4D5E;
    width: 150px; 
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
#Test{
    color: #3B4D5E;
    padding-left: 200px;
    padding-top:50px;
>>>>>>> 859c60e75b18b8d996441e3248aa8fb27d7428ab
}
#Test1{
    text-align: center;
    color: #3B4D5E;
    padding-left: 10%;
    padding-top:3%;
    display: inline;
}
#button #button1 {
<<<<<<< HEAD
  display: inline;
  margin-right: 720px;
  margin-top: 25px;
  background-color: #ffe0ab;
  color: #3b4d5e;
}
#button2,
#button3 {
  background-color: #ffe0ab;
  color: #3b4d5e;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 0px;
}
.file {
  padding: 0 15px;
  width: 90%;
  height: 150px;
  text-align: center;
  font-size: 100%;
  background-color: rgb(243, 208, 142);
  font-family: Cambria;
}
.cf {
  margin-top: 5%;
  display: inline-block;
  text-align: center;
  height: 50px;
  font-size: 100%;
  background-color: orange;
  font-family: Cambria;
}
body {
  color: #fbf8f2;
}
h1 {
  text-align: center;
}
h2 {
  padding-left: 20px;
}
=======
    display: inline;
    margin-right: 720px; 
    margin-top: 25px;
    background-color: #ffe0ab;
    color: #3b4d5e;
  }
#button2, #button3 {
    background-color: #ffe0ab;
    color: #3b4d5e;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
  }
#Instructions{
    padding-left: 190px;
    padding-top:30px;
    color:black;
  }
>>>>>>> a2058924bad602a79af6844b339d306ea7fb07a8
.file{
    padding: 0 15px;
    width: 90%;
    height:150px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(243, 208, 142);
    font-family: Cambria;   
}
#files{
    display: inline-block;
    align-items: center;
    height:50px;
    font-size: 100%;
    background-color:#ffe0ab;
    font-family: Cambria;
    margin-left: 580px;
}
.cf{
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    height:50px;
    font-size: 100%;
    background-color: orange;
    font-family: Cambria;
<<<<<<< HEAD
}
=======
}
body{
    color:#fbf8f2;
}
h1{
    text-align: center;
}
h2{
    padding-left: 20px;
}  
#line1{
    display: inline-block;
    padding-left: 15%;
}
#line2{
    padding-top: 0%;
    display: inline;
}
>>>>>>> 859c60e75b18b8d996441e3248aa8fb27d7428ab
>>>>>>> a2058924bad602a79af6844b339d306ea7fb07a8
