@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
.container-fluid{
    color: #3b4d5e;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2rem;
    height: 100px;
  }
#Submit{
    background-color: #ffe0ab;
    color: #3b4d5e;
    width: 15vw;
    font-size: 1rem;
}