/* ################################## TAG SELECTION ################################## */
body{
    background-color: #E5E5E5;
}

/* ################################## CLASS SELECTION ################################## */
.container-md{
    background-color: #FBF8F2;
    height: 100vh;
}

.my_logo{
    color: #FBF8F2;
    font-family: Viga, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2rem;
    height: 100px
}

.my_nav{
    height: 100vh;
    background-color: #3B4D5E;
}

.my_font{
    color: #3B4D5E;
    font-family: Viga, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.my_font_bolder{
    color: #3B4D5E;
    font-family: Viga, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 1rem;
}
.my_font_2em{
    font-size: 2rem;
}

.btn{
    color: #3B4D5E;
    font-family: Viga, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    background-color: #FFE0AB;
    border-color: #3B4D5E;
}

.btn:hover{
    color: #3B4D5E;
    background-color: #FABC75;
    border-color: #3B4D5E;
}


.FIB{
    height: 3vh;
    border: none;
    background-color: #FABC75;
}

/* ################################## ID SELECTION ################################## */
