@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

.my_logo {
  color: #fbf8f2;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2rem;
  height: 100px;
}

.my_nav {
  background-color: #3b4d5e;
  color: #fbf8f2;
  height: 100vh;
}

.my_main {
  background-color: #fbf8f2;
  height: 100vh;
  overflow-y: auto;
}

.my_font {
  color: #3b4d5e;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.my_font_bolder {
  color: #3b4d5e;
  font-style: normal;
  font-weight: bolder;
  font-size: 1rem;
}
.my_font_2em {
  font-size: 1rem;
}

.my_button {
  color: #3b4d5e;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  width: 10vw;
  background-color: #ffe0ab;
  border-color: #3b4d5e;
  
}

.my_button:hover {
  color: #3b4d5e;
  background-color: #fabc75;
  border-color: #3b4d5e;
}

.file{
    padding: 0 15px;
    width: 90%;
    height:150px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(243, 208, 142);
    font-family: Cambria;   
}
.cf{
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    height:50px;
    font-size: 100%;
    background-color: orange;
    font-family: Cambria;
}