@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
.container-md {
  background-color: #fbf8f2;
  height: 100vh;
  left: 0px;
}
.my_logo {
  color: #fbf8f2;
  font-weight: bolder;
  font-size: 2rem;
  height: 100px;
}
.my_nav {
  background-color: #3b4d5e;
  height: 100vh;
  color: #fbf8f2;
}

.my_main {
  overflow-y: auto;
}

textarea {
  width: 1000px;
  height: 200px;
  background-color: #fff5cc;
  color: #3b4d5e;
}

.btn {
  background-color: #ffe0ab;
  color: #3b4d5e;
}
.btn btn-primary {
  width: 14vw;
}
.btn btn-warning {
  width: 20vw;
}
