@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
/* body {
  background-color: #e5e5e5;
} */

.my_logo {
  color: #fbf8f2;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2rem;
  height: 100px;
}

.my_nav {
  background-color: #3b4d5e;
  color: #fbf8f2;
}

.my_main {
  background-color: #fbf8f2;
  height: 100vh;
  overflow-y: auto;
}

.my_font {
  color: #3b4d5e;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.my_font_bolder {
  color: #3b4d5e;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1rem;
}
.my_font_2em {
  font-size: 2rem;
}

textarea {
  width: 1000px;
  height: 200px;
  background-color: #fff5cc;
  color: #3b4d5e;
}

.my_button {
  color: #3b4d5e;
  font-family: Viga, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  width: 10vw;
  background-color: #fabc75;
  border-color: #3b4d5e;
}

.my_button:hover {
  color: #3b4d5e;
  background-color: #fabc75;
  border-color: #3b4d5e;
}
