{% extends 'exam_app/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="p-5">
        <h4><strong>Question Details</strong></h4>
        <hr>
        <form action="{% url 'exam_app:add-question' exam_id %}" method="post">
            {% csrf_token %}
            <div class="py-3">
                <label class="form-label" for="questionType">Choose question type:</label>
                <select name="question_type" id="questionType" class="form-select-sm">
                    <option value="none" selected disabled hidden>Select type</option>
                    <option value="Multiple Choice - Multiple Answers">Multiple Choice - Multiple Answers</option>
                    <option value="Fill In The Blanks">Fill In The Blanks</option>
                    <option value="Short Answers">Short Answers</option>
                    <option value="File Upload">File Upload</option>
                </select>
            </div>
            <button class="btn btn-primary" type="button" id="generateBtn" onclick="generateFormat()">Generate fields
            </button>
            <hr>
            <div class="
            " id="questionArea">
            </div>
            <div>

            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit" disabled id="generateBtn">Previous</button>
                    <button class="btn btn-primary mx-3" type="submit" id="addBtn" name="btn_action" value="add" disabled>
                        Add Next
                    </button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-primary" type="submit" id="saveBtn" name="btn_action" value="save" disabled>
                        Save & Exit
                    </button>
                    <a href="{% url 'exam_app:edit-exam' exam_id %}">
                        <button class="btn btn-primary ms-3" type="button" name="btn_action" value="exit">
                            Exit
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/add-question.js' %}"></script>
{% endblock %}

