{% extends 'exam_app/base.html' %}

{% load static %}
{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="p-5">
        <h3 class="py-3"><strong>Edit Details:</strong></h3>
        <form action="{% url 'exam_app:edit-details' exam_id %}" method="post">
            {% csrf_token %}
            <small class="form-text custom-error-message">{{ error_message }}</small>
            {{ error_message }}
            <div class="row m-0 my-2">
                <div class="form-group">
                    {{ exam_form }}
                    <label class="py-2" for="input-1">Title</label>
                    <input type="text" class="form-control" id="input-1" placeholder="Title" name="title"
                           value="{{ exam.title }}">
                    <small class="form-text custom-error-message">{{ form.errors.title }}</small>
                </div>
            </div>
            <div class="row m-0 my-2">
                <div class="form-group col-md-6">
                    <label class="py-2" for="input-2">Subject</label>
                    <input type="text" class="form-control" id="input-2" placeholder="Subject" name="subject"
                           value="{{ exam.subject }}">
                    <small class="form-text custom-error-message">{{ form.errors.subject }}</small>

                </div>
                <div class="form-group col-md-6">
                    <label class="py-2" for="input-3">Class/Level</label>
                    <input type="text" class="form-control" id="input-3" placeholder="Class/Level" name="level"
                           value="{{ exam.level }}">
                    <small class="form-text custom-error-message">{{ form.errors.level }}</small>
                </div>
            </div>
            <div class="row m-0 my-2">
                <div class="form-group col-md-3">
                    <label class="py-2" for="input-4">Date</label>
                    <input type="date" class="form-control" id="input-4" placeholder="Title" name="date"
                           value="{{ exam.date }}">
                    <small class="form-text custom-error-message">{{ form.errors.date }}</small>
                </div>
                <div class="form-group col-md-3">
                    <label class="py-2" for="input-5">Time</label>
                    <input type="time" class="form-control" id="input-5" placeholder="HH:MM" name="time"
                           value="{{ exam.time }}">
                    <small class="form-text custom-error-message">{{ form.errors.time }}</small>
                </div>
                <div class="form-group col-md-3">
                    <label class="py-2" for="input-6">Duration</label>
                    <input type="time" step="1" class="form-control" id="input-6" placeholder="HH:MM:SS" name="duration"
                           value="{{ exam.duration }}" aria-describedby="durationDescription">
                    <small id="durationDescription" class="form-text text-muted">
                        HH:MM:SS
                    </small>
                    <small class="form-text custom-error-message">{{ form.errors.duration }}</small>
                </div>
                <div class="form-group col-md-3">
                    <label class="py-2" for="input-7">Min pass points</label>
                    <input type="number" class="form-control" id="input-7" placeholder="%" name="min_pass_points"
                           value="{{ exam.min_pass_points }}"
                           min="0" max="100">
                    <small class="form-text custom-error-message">{{ form.errors.min_pass_points }}</small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'exam_app:view-all-exams-instructors' %}">
                        <button class="btn btn-primary" type="button" name="btn_action" value="">View Exams</button>
                    </a>
                </div>
                <div class="col text-end" >
                    <button class="btn btn-primary" type="submit" id="saveBtn" name="btn_action" value="save">
                        Save & Exit
                    </button>
                    <a href="{% url 'exam_app:edit-exam' exam_id %}">
                        <button class="btn btn-primary ms-3" type="button" name="btn_action" value="exit">
                            Exit Without Saving
                        </button>
                </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}