{% extends 'exam_app/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="row align-self-center justify-content-center">
        <div class="text-center p-5 col-md-5">
            <img src="{% static 'images/exam_app/exam-submission-tick.png' %}" alt="exam submission successful">
            <h3><strong>Congratulations</strong></h3>
            <h5>Your exam has been submitted successfully!!!</h5>
            <hr>
            Result Status: {{ user_exam_details.result_status }}
            <hr>
            <a href="{% url 'exam_app:exam-result' user_exam_details.id %}">
                <button type="button" class="btn btn-primary"> View Exam Results</button>
            </a>
        </div>

    </div>
{% endblock %}

{% block script %}
{% endblock %}
