{% extends 'exam_app/base.html' %}

{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="p-5">
        <form action="{% url 'exam_app:view-all-exams-instructors' %}" method="POST">
            {% csrf_token %}
            <h4><strong>List Of Exams Created</strong></h4>
            <hr>
            <table class="table align-middle text-center">
                <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Class/Level</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Status</th>
                    <th scope="col">Exam Link</th>
                    <th scope="col">Change Status</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                {% for exam in exams %}
                    <tr class="">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ exam.title }}</td>
                        <td>{{ exam.subject }}</td>
                        <td>{{ exam.level }}</td>
                        <td>{{ exam.date }}</td>
                        <td>{{ exam.time }}</td>
                        <td>{{ exam.duration }}</td>
                        <td>{{ exam.status }}</td>
                        <td>
                            <a href="{% url 'exam_app:edit-exam' exam.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Edit</button>
                            </a>
                        </td>
                        <td>
                            {% if exam.status == 'Published' %}
                                <button class="btn btn-danger btn-sm" type="submit" name="un-publish"
                                        value="{{ exam.id }}">Unpublish
                                </button>
                            {% else %}
                                <button class="btn btn-success btn-sm" type="submit" name="publish"
                                        value="{{ exam.id }}">
                                    Publish
                                </button>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'exam_app:instructor-details' exam.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Details</button>
                            </a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="row">
            <div class="col my-3">
                <a href="{% url 'exam_app:create-exam' %}">
                    <button type="button" class="btn btn-success">+ Create Exam</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
