{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block styles %}
    <style>
        .change-password-area {
            display: flow;
            min-height: calc(100vh - 70px);
        }

        .change-password-box {
            width: 375px;
        }

        .btn-primary {
            color: #FFFAE0;
            border-color: #3B4D5E;
            background-color: #3B4D5E;
            font-weight: bold;
        }

        .btn-primary:hover {
            color: #3B4D5E;
            border-color: #FDC088;
            background-color: #FDC088;
            font-weight: bold;
        }

        .errors-message {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="row change-password-area justify-content-center align-content-center py-5">
            <div class="col-md-5 text-center change-password-box">
                <img src="{% static 'images/favicon_io/android-chrome-192x192.png' %}" alt="Tuetest Icon"
                     height="75px"
                     width="75px" class="mb-4">
                <h1 class="h3 mb-3 fw-normal">Change Password</h1>
                <hr>
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
                {% if timeout_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ timeout_error }}<br>
                        Please <a href="{% url 'account:forgot-password' %}">click here</a> to send link again.
                    </div>
                {% endif %}
                <div class="form-floating">
                    <input type="password" name="password1" class="form-control" id="floatingPassword1"
                           placeholder="Password" required>
                    <label for="floatingPassword1">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password2" class="form-control" id="floatingPassword2"
                           placeholder="Confirm Password" required>
                    <label for="floatingPassword2"> Confirm Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
                <p class="mt-5 mb-3 text-muted">&copy; tutest 2022</p>
            </div>
        </div>
    </form>
{% endblock %}
