{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
    Forgot Password
{% endblock %}

{% block styles %}
    <style>
        .forgot-password-area {
            display: flow;
            min-height: calc(100vh - 70px);
        }

        .forgot-password-box {
            width: 375px;
        }

        .btn-primary {
            color: #FFFAE0;
            border-color: #3B4D5E;
            background-color: #3B4D5E;
            font-weight: bold;
        }

        .btn-primary:hover {
            color: #3B4D5E;
            border-color: #FDC088;
            background-color: #FDC088;
            font-weight: bold;
        }

        .errors-message {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row forgot-password-area justify-content-center align-content-center py-5">
            <div class="col-md-5 text-center forgot-password-box">
                <img src="{% static 'images/favicon_io/android-chrome-192x192.png' %}" alt="Tuetest Icon"
                     height="75px"
                     width="75px" class="mb-4">
                <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
                <hr>
                {% for error in form.non_field_errors %}
                    <small class="errors-message">{{ error }}</small>
                    <hr>
                {% endfor %}
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" id="floatingInput"
                           placeholder="name@example.com" autocomplete="username" required>
                    <label for="floatingInput">username</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
                <p class="mt-5 mb-3 text-muted">&copy; tutest 2022</p>
            </div>
        </div>

    </form>

{% endblock %}
