{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
    Tutest - Sign up
{% endblock %}

{% block styles %}
    <style>
        body {
            background-color: rgb(59, 77, 94);
        }

        h1 {
            color: #FFFAE0;
        }

        .i-am-card {
            width: 175px;
            height: 200px;
            background-color: #FFFAE0;
            border: 2px solid rgb(59, 77, 94, 0.5);
            border-radius: 5px;
        }

        .i-am-card:hover {
            background-color: #FDC088;
        }

        .sign-up-as-box {
            height: 80vh;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row justify-content-center align-content-center py-5 sign-up-as-box">
        <div class="col-12 py-3 text-center">
            <h1>I am ...</h1>
        </div>
        <div class="row justify-content-center align-content-center text-center">
{#            <div class="col-5 mx-2" hidden>#}
{#                <a href="{% url 'account:sign-up-as-instructor' %}" disabled="">#}
{#                    <button class="i-am-card text-center p-3">#}
{#                        <img src="{% static 'images/accounts/instructor-icon.png' %}" alt="instructors icon">#}
{#                        <strong>Instructor</strong>#}
{#                    </button>#}
{#                </a>#}
{#            </div>#}
            <div class="col-5 mx-2">
                <a href="{% url 'account:sign-up-as-tutee' %}">
                    <button class="i-am-card text-center p-3">
                        <img src="{% static 'images/accounts/tutee-icon.png' %}" alt="tutee icon">
                        <strong>Tutee</strong>
                    </button>
                </a>
            </div>

        </div>
    </div>
{% endblock %}
