{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    Support Center
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8 py-4">
            <h1 class="curve-font mb-4">Tutest Support Center</h1>
            <h6 class="mb-3">Message Submitted Successfully...</h6>
            <h6 class="mb-3">Thanks for contacting us. Our support team will contact you as soon as possible..</h6>
        </div>
    </div>
{% endblock %}
