@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FFFAE0;
    font-family: 'Nunito', sans-serif;
}

nav {
    background-color: #3B4D5E;
    height: 50px;
}

footer {
    background-color: #3B4D5E;
}

main {
    display: block;
    height: calc(100vh - 70px);
}

.nav-link {
    color: #FFFAE0;
    font-weight: bold;

}

.nav-link:hover {
    color: #FDC088;
    font-weight: bold;
}

.profile-btn {
    border-radius: 20px;
}

.footer-copyright {
    color: #FFFAE0;
}

.btn-outline-light {
    color: #FFFAE0;
    border-color: #FFFAE0;
    font-weight: bold;
}

.btn-outline-light:hover {
    color: #3B4D5E;
    border-color: #3B4D5E;
    background-color: #FDC088;
    font-weight: bold;
}

.btn-light {
    color: #3B4D5E;
    border-color: #3B4D5E;
    background-color: #FFFAE0;
    font-weight: bold;
}

.btn-light:hover {
    color: #3B4D5E;
    border-color: #3B4D5E;
    background-color: #FDC088;
    font-weight: bold;
}

.btn-primary {
    color: #FFFAE0;
    border-color: #3B4D5E;
    background-color: #3B4D5E;
    font-weight: bold;
}

.btn-primary:hover {
    color: #3B4D5E;
    border-color: #FDC088;
    background-color: #FDC088;
    font-weight: bold;
}

.btn-outline-primary {
    color: #3B4D5E;
    border-color: #3B4D5E;
    font-weight: bold;
}

.btn-outline-primary:hover {
    color: #3B4D5E;
    border-color: #FDC088;
    background-color: #FDC088;
    font-weight: bold;
}

.btn-primary:focus {
    color: #3B4D5E;
    border-color: #FDC088;
    background-color: #FDC088;
    font-weight: bold;
}


.dropdown-menu {
    min-width: 11rem;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: dimgrey;
    border-color: dimgrey;
}

.custom-error-message {
    color: red;
}

#exam_countdown {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.exam-title {
    font-weight: bolder;
    color: #FFFAE0;
}


.section-title {
    background-color: antiquewhite;
    border: 1px solid rgb(59, 77, 94, .3);
    border-radius: 7px;
}

.Section-display-box {
    display: flow;
    height: calc(100% - 130px);
    background-color: antiquewhite;
    border: 1px solid rgb(59, 77, 94, .3);
    border-radius: 7px;
}

.section-description-box {
    height: 100%;
    border-right: 1px solid rgb(59, 77, 94, .3);
    overflow-y: auto;
}

.exam-question-box {
    height: 100%;
    border-left: 1px solid rgb(59, 77, 94, .3);
    overflow-y: auto;
}

.questions-navigation-bar {
    background-color: antiquewhite;
    border: 1px solid rgb(59, 77, 94, .3);
    border-radius: 7px;
    height: 50px;
    overflow-x: auto;
}

.questions-navigation-bar ul {
    list-style-type: disc;
}

.questions-navigation-bar li {
    display: inline-block;
    list-style-type: none;
}
